// Import page-specific CSS files here.
@import "home";

$alien: #32e0c4;
$dark: #212121;

.welcome_title {
  justify-content: center;
}

.welcome_title h1 {
  color: $alien;
  margin: 20px;
}

.welcome_title h2 {
  color: $dark;
  margin: 20px;
}
