<div class="container">
  <h1>Your Bookings</h1>
  <div class="cards">
    <div class="card">
        <p>Start Date: <%= @booking.appointment_start_date %></p>
         <%=  %>
    </div>
  </div>
</div>


