<div class="homepage">
  <div class="title_and_searchbar">
    <div class="welcome_title">
      <h1>Aliens4U</h1>
      <h2>Aliens... like you've never known before</h2>
    </div>
      <%= form_with url: "/aliens/search", method: :get, local: true do |form| %>
      <%= form.text_field :q %>
      <%= form.submit 'Search' %>
      <% end %>
  </div>
</div>







