// .cards{
//   align-items: center;
//   margin: auto;
//   display: grid;
//   grid-template-columns: repeat(3, 1fr);
//   grid-gap: 30px;
//   padding: 10px;
// }

// .card{
//   display: flex;
//   flex-direction: column-reverse;
//   background-color: #212121;
//   align-items: center;
//   width: 200px;
//   height: 300px;
//   padding: 10px;
//   border-radius: 3px;
// }

.cards {
  margin-top: 90px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 50px;
  padding: 10px;
}

.card {
  display: flex;
  align-content: flex-end;
  color: $alien;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 25px violet;
  height: 250px;
  background: rgba(50, 50, 50, .5);
  padding: .5rem;
  border: 2px solid #eeeeee;
}

.create-card{
  display: flex;
  align-content: flex-end;
  color: $alien;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 25px violet;
  height: 50px;
  background: rgba(50, 50, 50, .5);
  padding: .5rem;
  border: 2px solid #eeeeee;

  h3{
    text-align: center;
    color: $alien;
  }
}

  .card-show {
  justify-content: center;
  position: relative;
  color: $alien;
  border-radius: 5px;
  box-shadow: 2px 2px 25px violet;
  height: 480px;
  background: rgba(50, 50, 50, .5);
  border: 2px solid #eeeeee;
  padding: 10px;
  }

.list-inline{
  margin-top:auto;
  margin-bottom:auto;
  text-align:center;
}

.booking-cards {
  // display: grid;
  // grid-template-columns: repeat(1, 1fr);
  // grid-auto-rows: auto;
  // grid-gap: 50px;
  justify-content: center;
}

.booking-card {
  display: flex;
  flex-direction: column;
  color: $alien;
  display: flex;
  border-radius: 5px;
  box-shadow: 2px 2px 25px violet;
  height: 200px;
  width: 500px;
  background: rgba(50, 50, 50, .5);
  padding: .5rem;
  border: 2px solid #eeeeee;
  margin: auto;
  justify-content: left;
  text-align: left;
}

.far {
  font-size: 25px;
  text-align: right;
  padding-left: 160px;
  color: white;
}

.list-crud {
  display: flex;
  align-self: flex-end;
  width: 400px;
  list-style: none;
  margin: auto;
  justify-content: center;
  padding-left: 0;

  li{
    display: inline-block;
    padding: 0px 20px;

  }
}


h3 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 27px;
  color: $alien;
}

p {
  font-family: 'Space Mono', monospace;
  font-size: 18px;
  color: #eeeeee;
}

a {
  color: #eeeeee;
}

a:hover {
  color: #eeeeee;
  text-shadow: 2px 2px 25px violet;
  text-decoration: none;

}

// .card {
//   display: flex;
//   flex-direction: column;
//   width: 300px;
//   font-size: 10px;

// }
