.form {
  background-color: rgba(100, 100, 100, 0.5);
  border: solid rgb(50, 50, 50);
  border-radius: 16px;
  padding: 20px;
  box-shadow: 2px 2px 25px violet;
}

.form_link {
  font-size: larger;
  font-weight: bolder;
}
