<div class="container-search">
  <div class= "cards">
    <% @aliens.each do |alien| %>
      <div class="card">
        <h3>Name: </h3>
        <p><%= link_to alien.name, alien_path(alien.id) %></p>
        <h3>Species: </h3>
        <p><%= alien.species %></p>
        <h3>Planet of Origin: </h3>
        <p><%= alien.planet %></p>
        <h3>Rating:</h3>
        <p><% alien.rating.to_i.times do  %>
            <span class="fas fa-star"></span>
          <% end %>
          <% (5 - alien.rating.to_i).times do  %>
            <span class="far fa-star"></span>
          <% end %>
          </p>
      </div>
    <% end %>
    <div class= "create-card">
      <h3><%= link_to "Create a new Alien?", new_alien_path %></h3>
    </div>
  </div>
</div>
